<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='addcategory.css')}}">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <input name="name" placeholder="Enter item name" type="text" required>
        <input name="desc" placeholder="Enter item description" type="text" required>
        <input name="qty" placeholder="Enter item quantity" type="text" required>
        <select name="category" id="" required>
            <option value="">electronics</option>
            <option value="">grocery</option>
            <option value="">fashion</option>
            <option value="">home</option>
        </select>
        <input name="price" placeholder="Price" type="text"required >
        <input type="file" name="image" required>
        <input type="submit"  class="btn" required>
    </form>
</body>
</html>